<div id="dropzoneform" class="dropzone"></div>

<script type="text/javascript">
    $(function() {
        $("#dropzoneform").dropzone({
            url: "/Home/UploadFile"
        });
    });
</script>